<div class="jumbotron text-center">
  <h1>Фінансовий менеджер</h1>
  <hr class="my-4">
</div>

<div class="container d-flex flex-row justify-content-center" >
  <div class="card bg-success text-white" style="max-width: 900px">
    <div class="row no-gutters g-0" , style="margin: 20px">
      <div class="col-6">
        <%= image_tag "money.jpg", width: 400, class: "card-img",  alt: "" %>
      </div>

      <div class="col-6">
        <div class="card-body">
          <h4 class="card-title">Можливості додатку</h4>

          <ul class="list-group list-group-flush">
            <li class="list-group-item">Дозволяє вводити покупку та продаж товарів та послуг (<strong>транзакції</strong>)
              певної групи <strong>(категорії)</strong> </li>
            <li class="list-group-item">Дозволяє редагувати категорії</li>
            <li class="list-group-item">Дозволяє редагувати транзакції</li>
            <li class="list-group-item">Дозволяє створювати <strong>звіти</strong> по витратам за деякий період в розрізі категорій</li>
            <li class="list-group-item">Дозволяє створювати звіти по витратами за деякий період з вказанням суми
              витрат на конкретну дату в періоді</li>
            <li class="list-group-item">Дозволяє створювати звіти по певній групі транзакцій за певний період</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>



