<div class="jumbotron text-center">
  <h1>Фінансовий менеджер</h1>
  <hr class="my-4">
</div>

<div class="container d-flex flex-row justify-content-center">
  <div class="card bg-success text-white" style="max-width: 900px">
    <div class="row no-gutters g-0" , style="margin: 20px">
      <div class="col-6">
        <%= image_tag "money.jpg", width: 400, class: "card-img", alt: "" %>
      </div>

      <div class="col-6">
        <div class="card-body">
          <h4 class="card-title">Додаток дозволяє: </h4>

          <ul class="list-group list-group-flush">
            <li class="list-group-item">вводити покупку та продаж (<strong>транзакції</strong>)  <strong>товарів</strong> та послуг
               певної груги <strong>(категорії)</strong></li>
            <li class="list-group-item">редагувати <strong>транзакції</strong></li>
            <li class="list-group-item">редагувати <strong>категорії</strong> і задавати <strong>товари</strong> (в описі)</li>

            <li class="list-group-item">створювати звіти по витратам за деякий період  <strong> в
              розрізі категорій </strong>
            </li>
            <li class="list-group-item">створювати звіти по витратами за деякий період <strong> з вказанням суми
              витрат на конкретну дату в періоді</strong>
            </li>
            <li class="list-group-item">створювати звіти за деякий період <strong> по вибраній категорії </strong></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
